<!-- Main car image -->
 <div class="car-stuff">
    <div class="car-img">
        <img src="<%= car.inv_image %>" alt="<%= car.inv_make %> <%= car.inv_model %>" style="max-width: 600px;">
    </div>
    <div class="car-details">
        <h1> <%= car.inv_make %> <%= car.inv_model %></h1>
        <p> Year: <%= car.inv_year %></p>
        <p>Price: $<%= Number(car.inv_price).toLocaleString("en-US") %></p>
        <p>Miles: <%= Number(car.inv_miles).toLocaleString("en-US") %></p>
        <p>Color: <%= car.inv_color %></p>
        <p>Description: <%= car.inv_description %> </p>
    </div>
